
.cart-item{
    width: 300px;
    border: 3px solid grey;
    border-radius: 10px;
    padding: 1em;
}

.cart-item-actions{
    display: flex;
    font-size: 1.5em;
    width: 150px;
    justify-content: space-between;
}